Checks: >
  abseil-*,
  bugprone-*,
  cert-*,
  clang-diagnostic-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  llvmlibc-*
  misc-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,

CheckOptions:
  - key: readability-identifier-naming.FunctionCase
    value: camelBack
  - key: readability-identifier-naming.VariableCase
    value: camelBack
  - key: readability-identifier-naming.ConstantParameterCase
    value: aNy_CasE
  - key: readability-identifier-naming.ParameterCase
    value: camelBack
  - key: readability-identifier-naming.PointerParameterPrefix
    value: 'p'
  - key: readability-identifier-naming.ConstantCase
    value: UPPER_CASE
  - key: readability-identifier-naming.MacroCase
    value: UPPER_CASE
  - key: readability-identifier-naming.EnumConstantCase
    value: UPPER_CASE
  - key: readability-identifier-naming.StructCase
    value: CamelCase
  - key: readability-identifier-naming.TypedefCase
    value: CamelCase
  
  # Performance options
  - key: performance-move-const-arg.CheckTriviallyCopyableMove
    value: false
  
  # Readability options
  - key: readability-function-size.LineThreshold
    value: 200
  - key: readability-function-size.StatementThreshold
    value: 150
  - key: readability-braces-around-statements.ShortStatementLines
    value: 2
  
  # Misc options
  - key: misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic
    value: true
